#counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 4rem auto;
  font-size: 4rem;
}

#counterDisplay {
  color: white;
  font-size: 6rem;
}

#counterButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#counterButtons button {
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#increament {
  background-color: goldenrod;
}

#decreament {
  background-color: darksalmon;
}
